<app-main-layout>
  <p
    vts-typography
    vtsType="h1"
    vtsColor="default"
    vtsAlign="center"
    vtsWeight="semi-bold"
  >
    DANH SÁCH NGƯỜI DÙNG
  </p>

  <vts-table
    [vtsData]="data"
    [vtsPageSize]="10"
    [(vtsPageIndex)]="pageIndex"
    vtsShowPagination
    vtsShowSizeChanger
    [vtsStripe]="false"
    [vtsBordered]="false"
    [vtsShowTotal]="rangeTemplate"
    #t="vtsTable"
    vtsOuterBordered
  >
    <thead>
      <tr>
        <th vtsWidth="40px" vtsAlign="center">STT</th>
        <th vtsShowSort [vtsSortFn]="sortFn('name')">Họ và tên</th>
        <th vtsShowSort [vtsSortFn]="sortFn('description')">Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of t.data; index as i">
        <td vtsAlign="center">{{ item.id }}</td>
        <td vtsNoWrap>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>No action</td>
      </tr>
    </tbody>
  </vts-table>

  <ng-template #rangeTemplate let-range="range" let-total>
    <div class="range-container">
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </div>
  </ng-template>
</app-main-layout>
